body {
  //background: #FFFBFD;
  background: white;
  //background: #EEEEEE;
  // background: url(http://www.gfd-dennou.org/html/htmltool/wall_d.gif);
  //background: url(/html/htmltool/wall_d.gif);
  color: black;
  margin-left: 5%;
  margin-right: 5%;
  // font-size: 10.5pt;
  font-family: verdana, arial, helvetica, Sans-Serif;
  line-height: 150%;
}

h1 {
  //background: #9999FF;
  color: #FFFFFF;
  background: #3C8;
  //color: #310018;
/*
  color: orange;
*/
  font-size: 200%;
  font-family: "times roman", verdana, sans-serif; 
  text-align: center;
  //border-top: #9999FF 4px solid;
  //border-bottom: #9999FF 4px solid;
  border-top: #3C8 4px solid;
  border-bottom: #3C8 4px solid;
  line-height: 150%;
}

h2, h3, h4, h5, h6 {
  font-family: verdana, arial, helvetica, Sans-Serif;
}

h2 {
  //color: #310018;
  border-left: #3C8 0.6em solid;
  border-bottom: #383 1px solid;
  //border-bottom: #0099ff 5px solid;
  margin-right: 30%;
  line-height: 120%;
}

h3 {
  //color: #003366;
  //border-bottom: #000066 1px solid;
  //color: #99004D;
  border-bottom: #383 1px solid;
  margin-right: 35%;
  margin-top:2ex;
  margin-bottom:0ex;
  margin-left: 0.5em;
}

h4 {
  //color: #310018;
  margin-left: 1.0em;
}

h5 {
  //color: black;
  margin-left: 1.5em;
}

ul {
  margin-left: 3em;
  padding: 0;
}

ul ul {
  margin-left: 1.5em;
  padding: 0;
}

ul ol {
  margin-left: 2.0em;
  padding: 0;
}

ol {
  margin-left: 3.5em;
  padding: 0;
}

ol ol {
  margin-left: 2.0em;
  padding: 0;
}

ol ul {
  margin-left: 1.5em;
  padding: 0;
}

li {
  line-height: 150%;
}


dt {
  font-weight: bold;
  margin-top: 2ex;
  margin-left: 1em;
}

dl {
  margin-left: 1em;
}

p {
  margin-left: 2em;
}

ul p {
  margin-left: 0em;
  padding: 0;
}

ol p {
  margin-left: 0em;
  padding: 0;
}

code {
  padding-right: 0.5em;
  padding-top: 0.3em;
  padding-left: 0.5em;
  padding-bottom: 0.3em;
  // background-color: #3e3e3e;
  // color: #e6e6e6;
  // text-decoration: underline;
  border-top: #FF8EC7 1px solid;
  border-bottom: #FF8EC7 1px solid;
  border-left: #FF8EC7 1px solid;
  border-right: #FF8EC7 1px solid;
}

ol.rd2html_hindex {
  font-size: 80%;
  list-style-type: decimal;
  margin-left: 5ex;
  margin-right: 0ex;
  margin-top: 0ex;
  margin-bottom: 0ex;
  line-height: 100%;
}

ol.rd2html_hindex ul {
  font-size: 100%;
  list-style-type: decimal;
  margin-left: 3ex;
  margin-right: 0ex;
  margin-top: 0ex;
  margin-bottom: 0ex;
  line-height: 100%;
}

em {
  color: #004080;
  font-family: arial, helvetica, Sans-Serif, gothic;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
}

pre {
  line-height: 100%;
  border-right: #646464 1px solid;
  padding-right: 0.5em;
  border-top: #646464 1px solid;
  padding-top: 0.5em;
  border-left: #646464 1px solid;
  padding-left: 0.5em;
  border-bottom: #646464 1px solid;
  padding-bottom: 0.5em;
  margin-left: 2em;
  margin-right: 2em;
  white-space: pre;
  background-color: #FFF4FA;
  //background-color: #e6e6e6;
  color: black;
}

p.date{
  text-align: right;
}

p.name{
  text-align: right;
  font-style: italic;
}

